# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
.env/
.venv/

# VSCode / PyCharm
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env.local
.env.development
.env.production

# Cache
*.egg-info/
.cache/


# Credentials
credentials/